@mixin bg-image($path) {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  user-select: none;

  @include bg-img-webp($path, true);
}

.main {
  position: relative;
  height: vh(100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__tiger-logo {
  position: relative;
  z-index: var(--z-tiger-logo);
  transform: translateY(30%);

  img {
    width: auto;

    @media (orientation: portrait) {
      height: vh(12);
    }

    @media (orientation: landscape) {
      height: vh(20);
    }
  }
}

.main__cta-btn {
  --border-width: #{to-rem(3)};
  --border-radius: #{to-rem(14)};

  position: relative;
  z-index: var(--z-slot-btn);
  height: to-rem(60);
  width: 100%;
  max-width: min(var(--slot-cell-size) * 3.3, to-rem(530));
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(180deg, #fedf00 0%, #ff7a00 100%);
  border-radius: var(--border-radius);
  box-shadow: 0 to-rem(16) to-rem(38) 0 rgba(var(--col-tibetan-yellow-rgb), 70%);
  font-size: to-rem(34);
  text-transform: uppercase;
  overflow: hidden;
  cursor: default;
  transition: box-shadow var(--hover-transition),
    transform var(--hover-transition);

  @include respond-above(medium) {
    --border-radius: #{to-rem(20)};
  }

  @media (orientation: landscape) {
    font-size: min(4vw, to-rem(34));
    transform: translateY(-15%);

    @include respond-above(medium) {
      height: vh(11);
      font-size: min(vh(7), to-rem(48));
    }
  }

  @media (orientation: portrait) {
    transform: translateY(15%);

    @include respond-above(tablet) {
      height: vh(6);
      font-size: min(vh(5), to-rem(44));
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: var(--border-width);
    left: var(--border-width);
    height: calc(100% - var(--border-width) * 2);
    width: calc(100% - var(--border-width) * 2);
    border-radius: var(--border-radius);
    z-index: var(--z-hidden);
    background-image: radial-gradient(
      54.57% 247.08% at 51% 0%,
      #ff0000 0%,
      #bf0100 50%,
      #7e0200 100%
    );
    box-shadow: to-rem(5) -#{to-rem(9)} to-rem(7) 0
      rgba(var(--col-total-black-rgb), 45%) inset;
  }

  @include hover {
    body.spin-finished:not(.slot-stage-3) & {
      box-shadow: 0 to-rem(16) to-rem(46) 0
        rgba(var(--col-tibetan-yellow-rgb), 70%);
      cursor: pointer;

      @media (orientation: portrait) {
        transform: translateY(15%) scale(1.1);
      }

      @media (orientation: landscape) {
        transform: translateY(-15%) scale(1.1);
      }

      .main__cta-btn-icon {
        transform: rotate(270deg);
      }
    }
  }
}

.main__cta-btn-icon {
  margin-right: to-rem(14);
  transition: transform var(--hover-transition);

  @media (orientation: landscape) {
    height: auto;
    width: min(4vw, to-rem(28));

    @include respond-above(medium) {
      width: min(vh(6), to-rem(52));
    }
  }
}

.main__cta-btn-content {
  filter: drop-shadow(
    0 to-rem(2.5) to-rem(2.5) rgba(var(--col-total-black-rgb), 35%)
  );
}

.main__bottom-decor {
  width: auto;
  aspect-ratio: 4.95;
  position: absolute;
  z-index: var(--z-bottom-decor);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;

  @include bg-image('/img/decor/bottom-decor');

  @media (orientation: portrait) {
    height: vh(18.5);
  }

  @media (orientation: landscape) {
    height: vh(23.4);
  }
}

.main__tiger-1-decor {
  --aspect-ratio: 0.829;

  position: absolute;
  z-index: var(--z-tiger-decor);
  aspect-ratio: var(--aspect-ratio);
  user-select: none;

  @include bg-image('/img/decor/tiger-1');

  @media (orientation: portrait) {
    right: 5%;
    bottom: 6%;
    width: min(68vw, vh(54) * var(--aspect-ratio));
    transform: translateX(50%);
  }

  @media (orientation: landscape) {
    left: 69%;
    bottom: 0;
    width: min(24vw, vh(51) * var(--aspect-ratio));
  }
}

.main__tiger-2-decor {
  --aspect-ratio: 1.225;

  position: absolute;
  z-index: var(--z-tiger-decor);
  aspect-ratio: var(--aspect-ratio);
  user-select: none;

  @include bg-image('/img/decor/tiger-2');

  @media (orientation: portrait) {
    left: 9%;
    bottom: 5%;
    width: min(62vw, vh(48.5) * var(--aspect-ratio));
    transform: translateX(-50%);
  }

  @media (orientation: landscape) {
    right: 66%;
    bottom: 0;
    width: min(26vw, vh(38) * var(--aspect-ratio));
  }
}
