<div class="slot js-slot">
  <div class="slot__column slot__column--1">
    <div class="slot__cell"></div>
    <div class="slot__cell"></div>
    <div class="slot__cell"></div>
  </div>
  <div class="slot__column slot__column--2">
    <div class="slot__cell"></div>
    <div class="slot__cell"></div>
    <div class="slot__cell"></div>
  </div>
  <div class="slot__column slot__column--3">
    <div class="slot__cell"></div>
    <div class="slot__cell"></div>
    <div class="slot__cell"></div>
  </div>
  <div class="slot__column slot__column--4">
    <div class="slot__cell"></div>
    <div class="slot__cell"></div>
    <div class="slot__cell"></div>
  </div>
  <div class="slot__column slot__column--5">
    <div class="slot__cell"></div>
    <div class="slot__cell"></div>
    <div class="slot__cell"></div>
  </div>
</div>
