@use 'sass:color';
@import '@/styles/colors';

:root,
::before,
::after {
  // Primary colors
  --col-black-chestnut-oak: #{$col-black-chestnut-oak};
  --col-crayola: #{$col-crayola};

  // Z-indexes
  --z-modal-overlay: 14;
  --z-modal: 9;
  --z-bonus-section: 6;
  --z-slot-btn: 5;
  --z-tiger-logo: 4;
  --z-slot: 3;
  --z-bottom-decor: 2;
  --z-tiger-decor: 1;
  --z-default: 1;
  --z-hidden: -1;

  // Text variables
  /* stylelint-disable max-line-length */
  --primary-font-family: 'Open Sans', -apple-system, 'BlinkMacSystemFont',
    'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue',
    sans-serif;
  --secondary-font-family: 'Ubuntu', -apple-system, 'BlinkMacSystemFont',
    'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue',
    sans-serif;
  /* stylelint-enable max-line-length */

  --p-size: #{to-rem(14)};

  @include respond-above(tablet) {
    --p-size: #{to-rem(18)};
  }

  // Transitions
  --slow-flash-transition-duration: 0.6s;

  // Base
  --container-max-width: 100%;
  --container-side-padding: #{to-rem(20)};
  --primary-text-color: var(--col-total-white);

  @include respond-above(medium) {
    --container-max-width: #{to-rem(1100)};
    --container-side-padding: #{to-rem(40)};
  }

  @include respond-above(xmedium) {
    --container-max-width: #{to-rem(1180)};
  }

  @include respond-above(large) {
    --container-max-width: #{to-rem(1620)};
    --container-side-padding: #{to-rem(50)};
  }

  // App overlay
  --app-overlay-bg: rgba(var(--col-dark-tone-ink-rgb), 45%);

  // Sign up form
  --sign-up-form-input-bg: var(--col-black-chestnut-oak);

  @include respond-above(small) {
    --sign-up-form-input-bg: var(--col-black-chestnut-oak);
  }

  // Slot
  @media (orientation: portrait) {
    --slot-cell-size: #{min(29vw, to-rem(160))};
  }

  @media (orientation: landscape) {
    --slot-cell-size: #{min(11.5vw, vh(15), to-rem(200))};
  }
}
